/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /
 52 / 62 / 74 / 86 / 98
*/

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  font-family: "Inter", sans-serif;

  color: #333;
}
/*///////////
////////////////////
hero section
/////////////////
////////////////*/
.cookie-msg p {
  font-size: 1.6rem;
  color: white;
  
}
.crucials{
  text-decoration: none;
}
.logo{
  height: 6.8rem;
  border-radius:0.9rem ;
  padding-left: 3.2rem;
}
.cookie-button {
  
  border-radius: 0.9rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}
.cookie-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(94, 10, 94, 0.496);
}
.nav-button {
  color: white;
  border: none;
  font-size: 2.4rem;
  
  background: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
h1 {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  letter-spacing: -0.75px;
  color: #333;
}
.hero-text {
  line-height: 1.6;
  font-size: 2rem;
  margin-bottom: 3.2rem;
  color: white;
}
.hero-section {
  height: 100vh;
  margin-bottom: 4.8rem;
  background-image: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
          ),
          url(gfdasdasklj.jpg);
        background-size: cover;
}
.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 6.4rem 4.8rem 0 4.8rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 3.2rem;
  justify-content: space-between;
}
.nav {
  padding-right: 9.6rem;
  display: flex;
  gap: 6.4rem;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-img {
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  align-items: center;
  justify-content: center;
}
.btn-learn-more {
  display: block;
  background-color: #501c5e;
  padding: 1.6rem 3.2rem;
  border: none;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  border-radius: 9px;
}
/*/
//////////
////////////////////
hero section end
/////////////////
////////////////
*/
.step-1,.step-2,.step-3 {
  border: none;
  font-weight: 800;
  background-color: #501c5e;
  padding: 12px 24px;
  margin-top: 2px;
}
.table-section {
  padding-top: 9.6rem;
  margin-bottom: 9.6rem;
}
.step-1 {
  justify-self: center;
}
.step-2 {
  justify-self: center;
}
.step-3 {
  justify-self: center;
}
.step {
  font-size: 2rem;
  font-family: "Inter", sans-serif;

  color: white;
  border-radius: 8px;

  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.table-grid-container {
  border-radius: 9px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  max-width: 130rem;
  margin: 0 auto;

  height: 500px;
}

.content {
  grid-column: 1/-1;
}
.step-1-content {
  border-radius: 14px;
}

.feature {
  display: flex;
  gap: 10px;

  justify-content: space-between;
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 23px;
  padding-top: 17px;
  width: 200px;
}
.feature-img {
  max-width: 150px;

  align-self: stretch;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
/*
.feature-img-1 {
}
*/
.feature-img-2 {
  object-fit: cover;
}

.feature-img-3 {
  object-fit: cover;
}

.exclusive {
  opacity: 0.25;
}
.feature-box {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 0 20px 0 0;
  margin: 12px;
  background-color: #f5f1f5;
  border-radius: 18px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.496);
}
.feature-text-box {
  padding: 12px 24px;
  margin: 12px;
  line-height: 1.6;
}

ion-icon {
  --ionicon-stroke-width: 35px;
  stroke: #501c5e;
  font-size: 29px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.signupImage {
  width: 90%;
  border-radius: 18px;
}

.step-2-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  height: 380px;
}

.feature-step-2-text-box {
  grid-column: 1/-1;
}
.step-2-container ion-icon {
  justify-self: center;
  align-self: center;
  font-size: 40px;
}

.signupImage-1 {
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
}
.signupImage-2 {
  grid-column: 5/8;
  justify-self: center;
  align-self: center;
}
.signupImage-3 {
  grid-column: 9/12;
  justify-self: center;
  align-self: center;
}

.step-3-content {
  height: 380px;
}
.secondary-heading {
  margin-left: 194px;
  margin-bottom: 96px;
}
.step-3-container {
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 500px;
}

.welcomeAboard-img {
  height: 8%;
  justify-self: center;
}

/*/
//////////
////////////////////
testimonial section begin
/////////////////
////////////////
*/

.testimonials-section {
  margin-top: 300px;
  margin-bottom: 300px;
}

.testimonial-main-container {
  max-width: 130rem;
  margin: 0 auto;
}
.tertiary-heading {
  margin-bottom: 130px;
}
.testimonial-grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 64px;
}

.testimonial-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.testimonial-text {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 32px;
  margin-top: 18px;
  line-height: 1.6;
}

.testimonial-person-title {
  opacity: 0.6;
  font-size: 16px;
  margin-top: 9px;
}

.testimonial-box {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.name-title {
  justify-self: start;
}

/*/
//////////
////////////////////
payment section begin
/////////////////
////////////////
*/
.payment-plan {
  max-width: 130rem;
  margin: 0 auto;
}
.primary-heading {
  color: white;
}
.payment-container {
  height: 600px;
  display: grid;
  grid-template-columns: 350px 350px;
  align-items: center;
  justify-content: center;
  column-gap: 250px;
}

.payment-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.payment-style {
  text-align: center;
}
.price {
  text-align: center;
  margin-bottom: 23px;
}

.plan-1 {
  background-color: #f5f1f5;
}

.plan {
  height: 450px;
  border-radius: 9px;
  padding: 34px;
}
.plan-2 {
  background-color: #85608e;
  color: white;
}
.payment-glad {
  color: white;
  font-weight: 600;

  margin-bottom: 12px;
}
.price-amount {
  font-size: 28px;
}
.payment-free {
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 12px;
}

.payment-subheading {
  text-align: center;
  font-size: 32px;
  padding-top: 23px;
}

.btn-cta {
  border: none;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 9px;
  cursor: pointer;
}

.btn-free {
}

.btn-glad {
  color: white;
  background-color: #501c5e;
}

.deneme {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  margin-top: 160px;
  background-color: rgb(235, 235, 235);
  padding: 50px;
  display: flex;
  gap: 340px;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-link {
  text-decoration: none;
}

.footer-text {
  text-decoration: underline;
}
